html,
body {
    min-width: 290px;
    color: #4d4e53;
    background-color: #ffffff;
    font-family: 'Open Sans', Arial, sans-serif;
    line-height: 1.5;
}

#navbar {
    position: fixed;
    min-width: 290px;
    top: 20px;
    left: 0px;
    width: 300px;
    height: 100%;
    border-right: solid;
    border-color: #29292b;
}

#main-doc {
    position: absolute;
    margin-left: 310px;
    padding: 20px;
    margin-bottom: 110px;
}

#navbar a {
    display: block;
}


@media only screen and (max-width: 815px) {}