/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style the body */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    line-height: 1.6;
    color: #333;
}

/* Header styles */
#header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--main-red);
    z-index: 99;
    background-color: #2C3E50;
    color: #ECF0F1;
    text-align: center;
    padding: 20px;
}

#header-img {
    width: 100px;
    height: 100px;
    margin-left: 50px;
}

#nav-bar {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.nav-link {
    text-decoration: none;
    color: #ECF0F1;
    padding: 10px 20px;
    font-weight: bold;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: background-color 0.3s, border-color 0.3s;
}

.nav-link:hover {
    background-color: #E74C3C;
    border-color: #C0392B;
}

/* Main section styles */
main {
    padding: 20px;
    background-color: #ECF0F1;
}

section {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

/* Video section styles */
#video {
    text-align: center;
    padding: 20px;
}

/* Footer styles */
footer {
    background-color: #2C3E50;
    color: #ECF0F1;
    text-align: center;
    padding: 20px;
}

#form {
    text-align: center;
    margin-top: 20px;
}

#email {
    padding: 10px;
    width: 100%;
    margin: 10px 0;
    border: 2px solid #2C3E50;
    border-radius: 5px;
    font-size: 16px;
}

#submit {
    background-color: #E74C3C;
    color: #ECF0F1;
    padding: 10px 20px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#submit:hover {
    background-color: #C0392B;
}

@media screen and (max-width: 768px) {
    #nav-bar {
        flex-direction: column;
    }

    .nav-link {
        margin: 5px 0;
    }
}