:root {
    --main-red: #D1345B;
    --main-green: #34D1BF;
    --main-blue: #3454D1;
    --main-white: #EFEFEF;
    --main-dark: #070707;
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}



html {
    box-sizing: border-box;

    /* Set font size for easy rem calculations
     * default document font size = 16px, 1rem = 16px, 100% = 16px
     * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
    */
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.4;
}

ul {
    list-style: none;
    margin-right: 1em;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 8rem;

}

img {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: #353639;
    text-align: center;
}

#navbar {
    display: flex;
    justify-content: flex-end;
    background-color: rgba(44, 44, 44, 0.723);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.nav-list {
    display: flex;
    gap: 1rem;
}

.nav-link {
    display: block;
    font-size: 2rem;
    text-decoration: none;
    padding: 1.5rem;
    color: var(--main-green);
    text-shadow: 1px 1px 1px rgba(16, 56, 55, 0.15);
}

#welcome-section {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    color: var(--main-dark);
    background: var(--main-white);
}

#welcome-section p {
    color: var(--main-green);
    text-align: center;
    max-width: 700px;
    margin: 2rem 5rem;
    text-shadow: 1px 1px 1px rgba(16, 56, 55, 0.1);
}

#project-header {
    margin-left: 2em;
}

#projects {
    margin-top: 2rem;
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr;
    padding: 0 2em;
}

#projects a {}

#projects p {
    margin-top: 1rem;
    border-top: 1px solid rgba(26, 26, 26, 0.313);
    padding: 2rem;
}

.project-tile {
    border: 1px solid rgba(26, 26, 26, 0.313);
    padding: rem 1rem 0 1rem;
    border-radius: 5px;
}

#project-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5em 0;
}

#profile-link {
    align-items: center;
    border: 1px solid rgba(26, 26, 26, 0.313);
    border-radius: 5px;
    width: 125px;
    padding: 1rem 2rem;
    margin: 0 auto;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

#font-awesome-icon {
    font-size: 1em;
}

/* for media query */
/* repeat(3, 1fr) */

#contact-section-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#contact-links-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;

}

#footer {
    display: grid;
    gap: 3rem;
    grid-template-columns: 1fr 1fr;
    margin: 2rem;
}

@media (min-width: 900px) {


    #projects {
        margin-top: 2rem;
        display: grid;
        gap: 1em;
        grid-template-columns: repeat(3, 1fr);
        padding: 0 2em;
    }
}